@import './index.scss';

.canvas {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;

	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		top: 40px;
		left: 0;
		transition: .2s ease-out;

		/*----------  Navigation  ----------*/
		nav {
			background: $menuBackground;
			position: fixed;
			top: 0;
			width: 100%;

			ul {
				display: none;
			}

			&.expanded {
				ul {
					display: block;
				}
			}
			// see Navigation.scss for the remainder of the nav styles
		}


		/*----------  Page Article  ----------*/
		article {
			min-height: 100%;
			margin-left: 0;

			header {
				background: $headerBackground;
				margin: 0;
				display: flex;
				align-items: center;
				padding: 40px;
				height: 100px;

				h1 {
					margin: 0;
					font-weight: 200;
					font-size: 2em;
					color: $headerText;
				}
			}

			section {
				padding: 20px 40px;

				h1 {
					margin: 1em 0;
					font-weight: 200;
					font-size: 1.4em;
				}

				h2 {
					margin: 1em 0;
					font-weight: 200;
					font-size: 1.2em;
				}
			}
		}
	}
}

@media (min-width: $bp_tablet) {
	.canvas {
		.wrapper {
			top: 0;

			&.expanded {
				left: $menuOffset;
			}

			/*----------  Navigation  ----------*/
			nav {
				width: $menuWidth;
				background: $menuBackground;
				left: -$menuOffset;
				bottom: 0;
				transition: .2s ease-out;

				ul {
					display: block;
				}

				&.expanded {
					left: 0 !important;
				}
				// see Navigation.scss for the remainder of the nav styles
			}


			/*----------  Page Article  ----------*/
			article {
				margin-left: 40px;

				header {
					height: 140px;
				}
			}
		}
	}
}