@import './index.scss';

header {
	box-sizing: border-box;
	background: $headerBackground;
	margin: 0;
	display: flex;
	align-items: center;
	padding: 40px;
	height: 160px;

	h1 {
		margin: 0;
		font-weight: 200;
		font-size: 2em;
		color: $headerText;
	}
}

section {
	margin: 20px 40px;

	h2 {
		font-size: 1.2em;

	}
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(0, 10px, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 1s linear;
}

.notification-leave {
  visibility: visible;
  //transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  //transform: translate3d(0, 100%, 0);
  transition: all .4s linear;
}

.notification-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 900;

	.notification {
		padding: 10px;

		h4 {
			font-size: .8em;
			font-weight: 400;
			margin: 0;
			padding: 0;
		}
	}

	.notification-success {
		border-left: 4px mediumseagreen solid;
		background: beige;
	}

	.notification-error {
		border-left: 4px tomato solid;
		background: mistyrose;
	}
}