@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 400;
  font-size: 100%; }

header {
  box-sizing: border-box;
  background: #f8f8f8;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 40px;
  height: 160px; }
  header h1 {
    margin: 0;
    font-weight: 200;
    font-size: 2em;
    color: #909497; }

section {
  margin: 20px 40px; }
  section h2 {
    font-size: 1.2em; }

.notification-enter {
  visibility: hidden;
  transform: translate3d(0, 10px, 0); }

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 1s linear; }

.notification-leave {
  visibility: visible; }

.notification-leave.notification-leave-active {
  visibility: hidden;
  transition: all .4s linear; }

.notification-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900; }
  .notification-container .notification {
    padding: 10px; }
    .notification-container .notification h4 {
      font-size: .8em;
      font-weight: 400;
      margin: 0;
      padding: 0; }
  .notification-container .notification-success {
    border-left: 4px mediumseagreen solid;
    background: beige; }
  .notification-container .notification-error {
    border-left: 4px tomato solid;
    background: mistyrose; }
