@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

* {
	-webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Verdana, sans-serif;
	font-weight: 400;
	font-size: 100%;
}

$headerBackground: rgba(248, 248, 248, 1);
$headerText: rgba(144, 148, 151, 1);

$lighterGrey: rgba(144, 148, 151, 1);