@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

* {
	-webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Verdana, sans-serif;
	font-weight: 400;
	font-size: 100%;
}