@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');\

* {
	-webkit-font-smoothing: antialiased;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Verdana, sans-serif;
	font-weight: 400;
	font-size: 100%;
	min-height: 100vh;
}

article {
	margin: 40px;
	display: block;
}

h1 {
	font-weight: 300;
}

h2 {
	font-size: 1.2em;
}

a.button {
	display: inline-block;
	background: slateblue;
	padding: 8px 22px;
	text-decoration: none;
	color: white;
	border-radius: 20px;
	margin-right: 20px;
}

a.button:hover {
	background: darkslateblue;
}

a.button.convert {
	background: coral;
}

a.button.convert:hover {
	background: tomato;
}