doctype html
html
	head
		title Import Notes from Evernote
		link(rel="stylesheet", href="/stylesheets/main.css")
	body
		article
			h2 #{numberStaged()} notes currently in stage

			a(class='button' href='/import/download') Download Notes
			
			if numberStaged() > 0
				a(class='button convert' href='/import/convert') Convert Notes
