/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #BDDFBA;
  position: fixed;
  z-index: 100;
  top: 140px;
  left: 0;
  width: 100%;
  height: 4px;
}

@media (min-width: 768px) {
	#nprogress .bar {
	  top: 100px;
	}
}