@import '../../App.scss';

.modal {
	border: 1px solid #ccc;
	border-radius: 3px;
	background: white;
	z-index: 100;
	padding: 30px 40px;
	position: fixed;
  top: 70px;
  left: 40px;
  right: 40px;

	h1 {
		margin-top: 0;
	}

	.content {
		line-height: 1.8;

		.stylizedContainer {
			display: inline-block;
			margin: 0 4px;

			input {
				color: $highlight;
				font-weight: 700;

				&::placeholder {
					color: #ddd;
					font-style: italic;
			    border-bottom: 2px solid #ddd;
			    padding-bottom: 4px;
				}

				&:focus {
			    + .input-highlight {
			      border-top: 2px solid $highlight;
			    }
			  }
			}

			.input-highlight {
				font-weight: 700;
			}
		}

		.placeholder {
			position: absolute;
			top: -1000px;
			left: 0;
			background: transparent;
			color: $highlight;
			font-weight: 700;
			font-size: 1em;
			text-transform: lowercase;
			padding: 0;
			margin: 0;
			margin-right: 4px;
			margin-left: -6px;
			display: block;
		}

		select {
			border: 0;
			background: transparent;
			color: $highlight;
			font-weight: 700;
			font-size: 1em;
			text-transform: lowercase;
			padding: 0;
			margin: 0;
			margin-right: 4px;
			margin-left: -6px;
			display: inline-block;

			&:focus {
				outline: 0;
			}
		}

		ul.suggestions {
			padding: 0;
			margin-left: -2px;
			font-size: .8em;

			li {
				display: inline-block;
				margin-top: 4px;
				padding-right: 6px;
				margin-left: 4px;

				a {
					text-decoration: none;
					color: #222;
				}

				a:hover, a:focus, a.active {
					cursor: pointer;
					color: $highlight;
					outline: 0;
				}
			}
		}

		.field.properties {
			//border: 2px solid goldenrod;
			flex-basis: auto;
			color: #222;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			.checkbox {
				display: inline-block;

				& label {
			    position: relative;
			    padding-left: 20px;
			    margin-right: 16px;
			    font-weight: 400;
			    cursor: pointer;
			  }

			  & label::before {
			    display: block;
			    position: absolute;
			    top: 5px;
			    left: 0;
			    width: 11px;
			    height: 11px;
			    border-radius: 3px;
			    background-color: white;
			    border: 1px solid #ddd;
			    content: '';
			  }
			}

			.checkbox:last-of-type {
				& label {
			    padding-right: 0;
			    margin-right: 0;
			  }
			}

			.checkbox input[type='checkbox'] {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 0;
			  height: 0;
			  opacity: 0;
			  pointer-events: none;
			  display: none; // prevent the page from moving on click

			  &:checked + label::after {
			    display: block;
			    position: absolute;
			    top: 5px;
			    left: 2px;
			    width: 11px;
			    height: 11px;
			    background: url('/images/checkmark.png');
			    background-size: cover;
			    content: '';
			  }
			}
		}
	}

	.controls {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		justify-content: space-between;
		margin-top: 20px;

		span.warnings {
			color: tomato;
			flex-basis: 100%;
			font-style: italic;
		}

		button.cancel {
			border: 0;
			color: #222;
			padding: 5px 0;
			font-size: .875em;
			cursor: pointer;
		}

		button.save {
			border: 0;
			background: $highlight;
			color: white;
			border-radius: 3px;
			padding: 5px 10px;
			font-size: .875em;
			cursor: pointer;
		}
	}
}