@import '../../../App.scss';

form.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;

	.field {
		label {
			font-size: 1em;
		}
	}

	.top {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.field.stacked {
			flex-basis: auto;

			.stylizedContainer.name {
				color: $highlight !important;
				font-size: 20px;

				input:focus {
			    + .input-highlight {
			      border-top: 2px solid dodgeblue;
			    }
			  }

			  .input-highlight {
			  	font-size: 20px;
			  }
			}

			.stylizedContainer.plural {
				font-size: 14px;
				font-weight: 400;
				font-style: italic;
				color: #bbb;

				input:focus {
			    + .input-highlight {
			      border-top: 2px solid #ddd;
			    }
			  }

			  .input-highlight {
			  	font-size: 14px;
					font-weight: 400;
					font-style: italic;
			  }
			}
		}

		.field.properties {
			flex-basis: auto;
			color: #666;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			.checkbox {
				display: inline-block;

				& label {
			    position: relative;
			    padding-left: 20px;
			    margin-right: 16px;
			    font-weight: 400;
			    cursor: pointer;
			  }

			  & label::before {
			    display: block;
			    position: absolute;
			    top: 5px;
			    left: 0;
			    width: 11px;
			    height: 11px;
			    border-radius: 3px;
			    background-color: white;
			    border: 1px solid #ddd;
			    content: '';
			  }
			}

			.checkbox:last-of-type {
				& label {
			    padding-right: 0;
			    margin-right: 0;
			  }
			}

			.checkbox input[type='checkbox'] {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 0;
			  height: 0;
			  opacity: 0;
			  pointer-events: none;
			  display: none; // prevent the page from moving on click

			  &:checked + label::after {
			    display: block;
			    position: absolute;
			    top: 2px;
			    left: 1px;
			    font-family: "Font Awesome 5 Pro";
			    content: "\f00c";
			    font-weight: 900;
			    color: $highlight;
			  }
			}
		}
	}

	.left {
		margin-top: 10px;
		flex-basis: 100%;
	}

	.left.collapse {
		flex-basis: 0 !important;
	}

	.right {
		margin-top: 10px;
		flex-basis: 100%;

		.field.references, .field.related {
			overflow-y: scroll;
			max-height: 125px;

			label {
				font-weight: 600;
				margin-bottom: 10px;
			}

			ul {
				list-style-type: none;
				padding: 0;

				li {
					font-size: .8em;
					color: $bodyText;
					line-height: 1.6;
				}
			}
		}

		.field.related {
			margin-top: 10px;
		}
	}

	.bottom {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;

		button {
			background: white;
			padding: 0;
			margin: 0;
			border: 0;
			cursor: pointer;
			font-family: "Source Sans Pro", Verdana, sans-serif;
			font-weight: 600;
			font-size: 14px;

			svg {
				font-size: 18px;
				padding-right: 8px;
			}
		}

		button.edit {
			order: 60;
			margin-top: 16px;
			color: $highlight;
			display: flex;
			justify-content: flex-end;
			flex-basis: 100%;
		}

		button:focus {
			outline: none;
		}

		.left {
			//border: 2px solid pink;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			button {
				margin-bottom: 10px;
			}

			button.merge {
				color: $highlight;
			}

			button.parent {
				color: $orange;
			}

			button.parsingError {
				color: $red;
			}
		}

		.right {
			box-sizing: border-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: flex-end;

			.warnings {
				flex-basis: 100%;
				text-align: right;
				font-size: .875em;
				color: $red;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			button.cancel {
				color: $bodyText;
				font-weight: 400;
				margin-right: 20px;
			}

			button.save {
				color: $green;
			}
		}
	}
}


@media (min-width: 600px) {
	form.card {
		.left {
			flex-basis: 50%;
		}

		.right {
			flex-basis: 50%;
		}
	}
}