@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
/*----------  Variables  ----------*/
/*----------  Reset / Globals  ----------*/
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

html, #root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 400;
  font-size: 100%;
  height: 100%;
  color: #222222; }

.canvas {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }
  .canvas .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    transition: .2s ease-out;
    /*----------  Navigation  ----------*/
    /*----------  Page Article  ----------*/ }
    .canvas .wrapper nav {
      background: #2b3d5a;
      position: fixed;
      top: 0;
      width: 100%; }
      .canvas .wrapper nav ul {
        display: none; }
      .canvas .wrapper nav.expanded ul {
        display: block; }
    .canvas .wrapper article {
      min-height: 100%;
      margin-left: 0; }
      .canvas .wrapper article header {
        background: #f8f8f8;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 40px;
        height: 100px; }
        .canvas .wrapper article header h1 {
          margin: 0;
          font-weight: 200;
          font-size: 2em;
          color: #909497; }
      .canvas .wrapper article section {
        padding: 20px 40px; }
        .canvas .wrapper article section h1 {
          margin: 1em 0;
          font-weight: 200;
          font-size: 1.4em; }
        .canvas .wrapper article section h2 {
          margin: 1em 0;
          font-weight: 200;
          font-size: 1.2em; }

@media (min-width: 768px) {
  .canvas .wrapper {
    top: 0;
    /*----------  Navigation  ----------*/
    /*----------  Page Article  ----------*/ }
    .canvas .wrapper.expanded {
      left: 160px; }
    .canvas .wrapper nav {
      width: 200px;
      background: #2b3d5a;
      left: -160px;
      bottom: 0;
      transition: .2s ease-out; }
      .canvas .wrapper nav ul {
        display: block; }
      .canvas .wrapper nav.expanded {
        left: 0 !important; }
    .canvas .wrapper article {
      margin-left: 40px; }
      .canvas .wrapper article header {
        height: 140px; } }

form.card {
  display: flex;
  flex-direction: column;
  flex-flow: column !important;
  justify-content: center;
  align-content: flex-start;
  position: relative; }
  form.card .field label {
    font-size: 1em; }
  form.card .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 auto; }
    form.card .top .field.stacked {
      flex-basis: auto; }
      form.card .top .field.stacked .stylizedContainer.name {
        color: #80aef5 !important;
        font-size: 20px; }
        form.card .top .field.stacked .stylizedContainer.name input:focus + .input-highlight {
          border-top: 2px solid dodgeblue; }
        form.card .top .field.stacked .stylizedContainer.name .input-highlight {
          font-size: 20px; }
      form.card .top .field.stacked .stylizedContainer.plural {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        color: #bbb; }
        form.card .top .field.stacked .stylizedContainer.plural input:focus + .input-highlight {
          border-top: 2px solid #ddd; }
        form.card .top .field.stacked .stylizedContainer.plural .input-highlight {
          font-size: 14px;
          font-weight: 400;
          font-style: italic; }
    form.card .top .field.properties {
      flex-basis: auto;
      color: #666;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      form.card .top .field.properties .checkbox {
        display: inline-block; }
        form.card .top .field.properties .checkbox label {
          position: relative;
          padding-left: 20px;
          margin-right: 16px;
          font-weight: 400;
          cursor: pointer; }
        form.card .top .field.properties .checkbox label::before {
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
          width: 11px;
          height: 11px;
          border-radius: 3px;
          background-color: white;
          border: 1px solid #ddd;
          content: ''; }
      form.card .top .field.properties .checkbox:last-of-type label {
        padding-right: 0;
        margin-right: 0; }
      form.card .top .field.properties .checkbox input[type='checkbox'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        display: none; }
        form.card .top .field.properties .checkbox input[type='checkbox']:checked + label::after {
          display: block;
          position: absolute;
          top: 2px;
          left: 1px;
          font-family: "Font Awesome 5 Pro";
          content: "\f00c";
          font-weight: 900;
          color: #80aef5; }
  form.card .middle {
    display: flex;
    flex-basis: 100%; }
  form.card .left {
    margin-top: 10px;
    flex-basis: 100%; }
  form.card .left.collapse {
    flex-basis: 0 !important; }
  form.card .right {
    margin-top: 10px;
    flex-basis: 100%; }
    form.card .right .field.references.edit, form.card .right .field.related.edit {
      max-height: 140px;
      height: unset; }
    form.card .right .field.references, form.card .right .field.related {
      overflow-y: scroll;
      height: 90%; }
      form.card .right .field.references label, form.card .right .field.related label {
        font-weight: 600;
        margin-bottom: 10px; }
      form.card .right .field.references ul, form.card .right .field.related ul {
        list-style-type: none;
        padding: 0; }
        form.card .right .field.references ul li, form.card .right .field.related ul li {
          font-size: .8em;
          color: #222222;
          line-height: 1.6; }
    form.card .right .field.related {
      margin-top: 10px; }
      form.card .right .field.related ul {
        list-style-type: none;
        margin: 0;
        padding: 0 !important;
        margin-bottom: 4px; }
        form.card .right .field.related ul li {
          font-size: .8em;
          color: #222;
          line-height: 1.6; }
          form.card .right .field.related ul li button {
            font-size: 1em;
            color: #80aef5;
            line-height: 1.6;
            font-weight: 400;
            padding: 4px 0 0;
            border: 0;
            border-bottom: 1px solid #80aef5;
            cursor: pointer; }
            form.card .right .field.related ul li button:focus {
              outline: 0; }
  form.card .bottom {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto; }
    form.card .bottom button {
      background: white;
      padding: 0;
      margin: 0;
      border: 0;
      cursor: pointer;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      font-weight: 600;
      font-size: 14px; }
      form.card .bottom button svg {
        font-size: 18px;
        padding-right: 8px; }
    form.card .bottom button.edit {
      order: 60;
      margin-top: 16px;
      color: #80aef5;
      display: flex;
      justify-content: flex-end;
      flex-basis: 100%; }
    form.card .bottom button:focus {
      outline: none; }
    form.card .bottom .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      form.card .bottom .left button {
        margin-bottom: 10px; }
      form.card .bottom .left button.merge {
        color: #80aef5; }
      form.card .bottom .left button.parent {
        color: #ff9f43; }
      form.card .bottom .left button.parsingError {
        color: #ff6348; }
    form.card .bottom .right {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end; }
      form.card .bottom .right .warnings {
        flex-basis: 100%;
        text-align: right;
        font-size: .875em;
        color: #ff6348;
        list-style-type: none;
        margin: 0;
        padding: 0; }
      form.card .bottom .right button.cancel {
        color: #222222;
        font-weight: 400;
        margin-right: 20px;
        font-size: .875em;
        padding-bottom: 6px; }
      form.card .bottom .right button.save {
        border: 0;
        background: #78e08f;
        color: white;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: .875em;
        cursor: pointer; }

@media (min-width: 600px) {
  form.card .left {
    flex-basis: 50%; }
  form.card .right {
    flex-basis: 50%; } }

@media (min-width: 600px) {
  form.card .bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px; } }
