@import '../../App.scss';

nav {
	.menu-icon {
		color: $menuText;
		cursor: pointer;
		position: relative;
		left: 0;
		padding: 10px 20px;

		&:hover {
			color: lighten($menuText, 15%);
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 20px;

		li {
			margin: 20px 0;

			&:first-of-type {
				margin-top: 0;
			}

			a {
				text-decoration: none;
				color: $menuText;
				font-size: .875em;
				font-weight: 400;

				span.svg {
					margin-right: 10px;
					width: 20px !important;
					display: inline-block;
					text-align: center;

					svg {
						height: 20px;
						position: relative;
						top: 2px;
					}
				}

				&:hover {
					color: lighten($menuText, 15%);
				}
			}
		}
	}
}

@media (min-width: $bp_tablet) {
	nav {
		.menu-icon {
			top: 50%;
			left: 160px;
			padding: 0;
			text-align: center;
			width: 40px;
		}
	}
}