nav {
	background: navy;
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	z-index: 1000;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			font-size: 1em;
			text-align: right;
			padding: 10px;
			//display: inline-block;

			&:hover span {
				display: inline-block;
			}

			a {
				text-decoration: none;
				color: dodgerblue;
				
				svg {
				}

				span {
					display: none;
					margin-right: 10px;
					font-size: .875em;
					font-weight: 600;
				}
			}
		}

		li:last-of-type {
			margin-bottom: 0;
		}
	}
}