@import '../../App.scss';

.search {
	display: flex;
	width: 100%;
	justify-content: space-between;

	h1 {
		flex: 1;
	}

	input {
		flex: 1;
		border: 0;
		background: transparent;
		font-weight: 200;
		font-size: 2em;
		color: $headerText;

		&::placeholder {
			color: lighten($headerText, 20%);
		}

		&:focus {
			outline: 0;
			border-bottom: 1px solid lighten($headerText, 20%);
		}
	}

	button {
		width: fit-content;
		border: 0;
		background: transparent;
		font-size: 1.4em;
		color: $headerText;
		display: inline-block;
		cursor: pointer;
		margin-left: 20px;
	}
}