@import '../../../App.scss';

// TODO tune these more once we have card content populated
$mobileCardHeight: 500px;
$desktopCardHeight: 500px;

$mobileListHeight: 200px;
$desktopListHeight: $desktopCardHeight;

section {
	.filters {
		display: flex;
		font-size: .875em;
		color: #222;

		.left {
			flex: 1;

			a {
				text-decoration: none;
				margin-right: 20px;
				color: #222;

				+ .new {
					color: $highlight;
				}
			}

			a.active {
				font-weight: 600;
			}
		}

		.right {
			flex: 1;
			text-align: right;
			font-weight: 600;

			button {
				text-decoration: none;
				margin-left: 16px;
				border: 0;
				text-transform: capitalize;
				color: $lighterGrey;
				font-size: 1em;
				padding: 0;
				cursor: pointer;
				background: white;
				outline: 0;
			}
		}
	}

	.status {
		display: block;
		margin-top: 20px;
		color: #222;
	}

	.view {
		ul.containers {
			list-style-type: none;
			padding: 0;
			margin: 20px 0; 
			color: #222;

			li.container {
				margin-bottom: 16px;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				//flex-direction: column;
				border-bottom: 0;

				.line {
					flex-basis: 100%;
					font-size: 1.2em;
					padding-bottom: 16px;
					border-bottom: 1px solid #ddd;
					display: flex;
					justify-content: space-between;
					cursor: pointer;
					background: white;
					z-index: 500;

					.count {
						color: $lighterGrey;
						text-align: right;
					}
				}

				form.card {
					background: white;
					padding: 0;
					margin: 0;
					flex-basis: 100%;
					width: 100%;
					max-height: $mobileCardHeight;
					padding: 20px;
					border-bottom: 1px solid #ddd;
				}

				ul.ingredients.expanded {
					height: $mobileListHeight;
					overflow: scroll;
					border-bottom: 1px solid #ddd;
					padding: 0;

					li.ingredient, li.header {
						padding: 0 10px;
					}

					li.ingredient:last-of-type {
						margin-bottom: 476px; 	// give enough space so that we can scroll to the final line item
					}
				}

				ul.ingredients {
					flex-basis: 100%;
					margin: 0;
					list-style-type: none;
					line-height: 1.4;
					padding: 10px;

					li.ingredient {
						cursor: pointer;

						&:hover {
							color: $highlight;
						}
					}

					.child {
						font-style: italic;
					}

					.active {
						display: inline-block;
						background: $headerBackground;
						width: 100%;
					}

					.invalid {
						color: silver;
					}

					li.header {
						font-size: 2em;
						display: inline-block;
						width: 100%;
						font-weight: 600;
					}
				}
			}
		}
	}
}

@media (min-width: 500px) {
	section .view ul.containers {
		li.container {
			ul.ingredients {
				column-count: 2;
	    	column-gap: 16px;
			}
		}
	}
}

@media (min-width: 700px) {
	section .view ul.containers {
		li.container {
			ul.ingredients {
				column-count: 3;
	    	column-gap: 16px;
			}
		}
	}
}

@media (min-width: 880px) {
	section .view ul.containers {
		li.container {
			form.card {
				flex-basis: 70%;
				flex-grow: 2;
				order: 1;
				height: $desktopCardHeight;
				border-left: 1px solid #ddd;
			}

			ul.ingredients.expanded {
				column-count: unset;
				flex-basis: 25%;
				height: $desktopListHeight;
				overflow: scroll;
			}

			ul.ingredients {
				column-count: 4;
	    	column-gap: 16px;
			}
		}
	}
}

@media (min-width: 1200px) {
	section .view ul.containers {
		li.container {
			ul.ingredients {
				column-count: 5;
	    	column-gap: 16px;
			}
		}
	}
}
