@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700");
/*----------  Variables  ----------*/
/*----------  Reset / Globals  ----------*/
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box; }

html, #root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 400;
  font-size: 100%;
  height: 100%;
  color: #222222; }

.canvas {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }
  .canvas .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    transition: .2s ease-out;
    /*----------  Navigation  ----------*/
    /*----------  Page Article  ----------*/ }
    .canvas .wrapper nav {
      background: #2b3d5a;
      position: fixed;
      top: 0;
      width: 100%; }
      .canvas .wrapper nav ul {
        display: none; }
      .canvas .wrapper nav.expanded ul {
        display: block; }
    .canvas .wrapper article {
      min-height: 100%;
      margin-left: 0; }
      .canvas .wrapper article header {
        background: #f8f8f8;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 40px;
        height: 100px; }
        .canvas .wrapper article header h1 {
          margin: 0;
          font-weight: 200;
          font-size: 2em;
          color: #909497; }
      .canvas .wrapper article section {
        padding: 20px 40px; }
        .canvas .wrapper article section h1 {
          margin: 1em 0;
          font-weight: 200;
          font-size: 1.4em; }
        .canvas .wrapper article section h2 {
          margin: 1em 0;
          font-weight: 200;
          font-size: 1.2em; }

@media (min-width: 768px) {
  .canvas .wrapper {
    top: 0;
    /*----------  Navigation  ----------*/
    /*----------  Page Article  ----------*/ }
    .canvas .wrapper.expanded {
      left: 160px; }
    .canvas .wrapper nav {
      width: 200px;
      background: #2b3d5a;
      left: -160px;
      bottom: 0;
      transition: .2s ease-out; }
      .canvas .wrapper nav ul {
        display: block; }
      .canvas .wrapper nav.expanded {
        left: 0 !important; }
    .canvas .wrapper article {
      margin-left: 40px; }
      .canvas .wrapper article header {
        height: 140px; } }

section .filters {
  display: flex;
  font-size: .875em;
  color: #222; }
  section .filters .left {
    flex: 1; }
    section .filters .left a {
      text-decoration: none;
      margin-right: 20px;
      color: #222; }
      section .filters .left a + .new {
        color: #80aef5; }
    section .filters .left a.active {
      font-weight: 600; }
  section .filters .right {
    flex: 1;
    text-align: right;
    font-weight: 600; }
    section .filters .right button {
      text-decoration: none;
      margin-left: 16px;
      border: 0;
      text-transform: capitalize;
      color: #909497;
      font-size: 1em;
      padding: 0;
      cursor: pointer;
      background: white;
      outline: 0; }

section .status {
  display: block;
  margin-top: 20px;
  color: #222; }

section .view ul.containers {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  color: #222; }
  section .view ul.containers li.container {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0; }
    section .view ul.containers li.container .line {
      flex-basis: 100%;
      font-size: 1.2em;
      padding-bottom: 16px;
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      background: white;
      z-index: 500; }
      section .view ul.containers li.container .line .count {
        color: #909497;
        text-align: right; }
    section .view ul.containers li.container form.card {
      background: white;
      padding: 0;
      margin: 0;
      flex-basis: 100%;
      width: 100%;
      max-height: 500px;
      padding: 20px;
      border-bottom: 1px solid #ddd; }
    section .view ul.containers li.container ul.ingredients.expanded {
      height: 200px;
      overflow: scroll;
      border-bottom: 1px solid #ddd;
      padding: 0; }
      section .view ul.containers li.container ul.ingredients.expanded li.ingredient, section .view ul.containers li.container ul.ingredients.expanded li.header {
        padding: 0 10px; }
      section .view ul.containers li.container ul.ingredients.expanded li.ingredient:last-of-type {
        margin-bottom: 476px; }
    section .view ul.containers li.container ul.ingredients {
      flex-basis: 100%;
      margin: 0;
      list-style-type: none;
      line-height: 1.4;
      padding: 10px; }
      section .view ul.containers li.container ul.ingredients li.ingredient {
        cursor: pointer; }
        section .view ul.containers li.container ul.ingredients li.ingredient:hover {
          color: #80aef5; }
      section .view ul.containers li.container ul.ingredients .child {
        font-style: italic; }
      section .view ul.containers li.container ul.ingredients .active {
        display: inline-block;
        background: #f8f8f8;
        width: 100%; }
      section .view ul.containers li.container ul.ingredients .invalid {
        color: silver; }
      section .view ul.containers li.container ul.ingredients li.header {
        font-size: 2em;
        display: inline-block;
        width: 100%;
        font-weight: 600; }

@media (min-width: 500px) {
  section .view ul.containers li.container ul.ingredients {
    column-count: 2;
    column-gap: 16px; } }

@media (min-width: 700px) {
  section .view ul.containers li.container ul.ingredients {
    column-count: 3;
    column-gap: 16px; } }

@media (min-width: 880px) {
  section .view ul.containers li.container form.card {
    flex-basis: 70%;
    flex-grow: 2;
    order: 1;
    height: 500px;
    border-left: 1px solid #ddd; }
  section .view ul.containers li.container ul.ingredients.expanded {
    column-count: unset;
    flex-basis: 25%;
    height: 500px;
    overflow: scroll; }
  section .view ul.containers li.container ul.ingredients {
    column-count: 4;
    column-gap: 16px; } }

@media (min-width: 1200px) {
  section .view ul.containers li.container ul.ingredients {
    column-count: 5;
    column-gap: 16px; } }
